# vim: ft=sh

BROWSER="none"

# Force next-auth return url
# NEXTAUTH_URL="http://localhost:3000"
# NEXTAUTH_URL="https://mind-stack-trainer.vercel.app"


# -----------------------------------------------------------------------------
# Public url and tunnelling
# -----------------------------------------------------------------------------

# It's better to use vscode/cursor tunneling as xtunnel loses csrf code for
# telegram login. But to use xtunnel link for telegram bot (as vscode tunnel
# requires interactive confirmation.)

# xtunnel or other tunnel to a local host (xtunnel, ngrok or or other link service, don't forget to initalize the hook)
NEXT_PUBLIC_URL="https://mindstack.lilliputten.com"

# xtunnel or other tunnel to a local dev host (xtunnel, ngrok or or other link service, don't forget to initalize the hook)
WEBHOOK_HOST=""


# -----------------------------------------------------------------------------
# Application
# -----------------------------------------------------------------------------

# Default translation language
NEXT_PUBLIC_DEFAULT_LANGUAGE="en"

# Debug translations (show translation ids instead of translated text in the UI)
NEXT_PUBLIC_DEBUG_TRANSLATIONS=false

# Debug locale (show translation ids instead of translated text in the UI)
NEXT_PUBLIC_DEBUG_LOCALE="xx"


# -----------------------------------------------------------------------------
# Telegram
# -----------------------------------------------------------------------------

# The logging telegram bot/channel token
LOGGING_CHANNEL_ID="-0000000000000"

# The controlling telegram bot/channel token
CONTROLLER_CHANNEL_ID="-0000000000000"

# Bot admin id and name (to display for users)
BOT_ADMIN_USERNAME=""
BOT_ADMIN_USERID=000000000
BOT_USERNAME=""
BOT_USERNAME_TEST=""
BOT_TOKEN=""
BOT_TOKEN_TEST=""
# Register webhook template:
# curl https://api.telegram.org/bot{BOT_TOKEN}/setWebhook?url={WEBHOOK_HOST}/api/bot


# -----------------------------------------------------------------------------
# AI API Keys
# -----------------------------------------------------------------------------

# LangChain debug
LANGSMITH_TRACING=true
# LANGSMITH_API_KEY=""

# CloudFlare
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""

# GigaChat
GIGACHAT_CREDENTIALS=""
# GIGACHAT_SCOPE=""
GIGACHAT_MODEL=""


# -----------------------------------------------------------------------------
# Prisma
# -----------------------------------------------------------------------------

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="file:.data/data.db"


# -----------------------------------------------------------------------------
# Vercel blob storage
# -----------------------------------------------------------------------------

# VERCEL_BLOB_READ_WRITE_TOKEN=""

# @see https://vercel.com/docs/vercel-blob
VERCEL_BLOB_HOST="*.public.blob.vercel-storage.com"


# -----------------------------------------------------------------------------
# Currencies API
# -----------------------------------------------------------------------------

# Exchange Rate API Dashboard
# https://app.exchangerate-api.com/dashboard for dashboard
# Example request:
# https://v6.exchangerate-api.com/v6/${EXCHANGERATE_API_KEY}/latest/USD
# @see src/features/currencies/actions/currency-fetchers.ts for the fetcher code
# @see src/features/currencies/actions/action-constants.ts for TTL constants
EXCHANGERATE_API_KEY=""


# -----------------------------------------------------------------------------
# Payments: yookassa, stripe
# -----------------------------------------------------------------------------

# Debug & test parameters
NEXT_DO_TEST_PAYMENTS=false
USE_FAKE_PRICES=false

# Stripe
NEXT_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
# Don't forget to switch stripe's test mode in the dashboard
NEXT_STRIPE_PUBLISHABLE_KEY_TEST=""
STRIPE_SECRET_KEY_TEST=""

# Yookassa
YOOKASSA_SHOP_ID=""
YOOKASSA_SECRET_KEY=""
YOOKASSA_SHOP_ID_TEST=""
YOOKASSA_SECRET_KEY_TEST=""


# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------

# @see https://nextjs.org/learn/dashboard-app/adding-authentication
AUTH_SECRET=""

# First registered user becomes admin
SET_FIRST_USER_ADMIN=true

# Limit user to allowed ones (see db `AllowedUser`)
USE_ALLOWED_USERS=false

# Github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Yandex
YANDEX_CLIENT_ID=""
YANDEX_CLIENT_SECRET=""


# -----------------------------------------------------------------------------
# Email
# -----------------------------------------------------------------------------

EMAIL_FROM_NAME=""
EMAIL_FROM=""

# Test email address:
EMAIL_TEST_USER=""

# Mail server
EMAIL_HOST=""
EMAIL_PORT=587
EMAIL_USE_SSL=false
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
