@use 'sass:color';
@use 'utils' as *;
@use 'variables' as *;

body {
  // @see tailwindClippingLayout, ScrollableLayout
  &[data-layout='scrollable'] {
    &,
    .layout-follow {
      overflow: auto;
    }
  }
  &[data-layout='clippable'] {
    overflow: hidden;
    width: 100vw;
    /* // Using dvh instead, below
     * height: 100vh;
     * min-height: 100vh;
     * max-height: 100vh;
     * max-width: 100vw;
     */
    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;
    max-width: 100dvw;
    .layout-follow {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }
}
.layout-scrollable {
  overflow: auto;
  width: 100%;
  height: 100%;
}
